* {
    font-family: 'TASA Orbiter';
}

body {
    margin: 0;
    background-color: #010101;
}

header {
    background-color: azure;
    min-height: 600px;
    padding: 100px;
    background-image: url(https://images.unsplash.com/photo-1699891730676-037bed3c1bed?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8d2Vic2l0ZSUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header h1 {
    font-weight: bold;
    font-size: 60px;
    color: #017f9f;
}

header h2 {
    font-weight: 900;
    color: white;
}

.navbar {
    background-color: #010101 !important;
}

.navbar a {
    color: #017f9f;
    font-weight: 600;
}

.navbar a:hover {
    color: white;
    transform: 0.5s;
}

main {
    background-color: #010101;
    padding-top: 50px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 170px;
}

.container h3 {
    color: #017f9f;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.texto {
    color: white;
    text-align: justify;
}

.texto p {
    font-size: large;
}

.nombre {
    display: flex;
    flex-direction: row;
}